@import 'styles/constants.module'
@import 'styles/mixins.module'

.dots
    display: flex
    gap: 8px
    justify-content: center

    margin: 16px 0 16px 0

    div
        width: 16px
        height: 16px
        
        background-color: white

        border-radius: 1000px

        &:nth-child(1)
            animation: firstDotAnimation 1.2s linear infinite

        &:nth-child(2)
            animation: secondDotAnimation 1.2s linear infinite

        &:nth-child(3)
            animation: thirdDotAnimation 1.2s linear infinite

@keyframes firstDotAnimation 
    0% 
        opacity: 0.2
    50%
        opacity: 1
    100%
        opacity: 0.2

@keyframes secondDotAnimation 
    0% 
        opacity: 0.2
    60%
        opacity: 1
    100%
        opacity: 0.2

@keyframes thirdDotAnimation 
    0% 
        opacity: 0.2
    70%
        opacity: 1
    100%
        opacity: 0.2
