@import 'styles/constants.module'
@import 'styles/mixins.module'

.screen
    box-sizing: border-box
    min-height: 100vh
    height: max-content

    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 8px

    padding: 16px 0 16px 0

    background-color: $c-bg

.content
    max-width: 600px
    width: 100%

.form
    box-sizing: border-box
    max-height: 60px

    border: 1px solid $c-content-iron-80
    border-radius: 1000px
   
    display: flex
    justify-content: space-between
    align-items: center

    padding: 0 32px

    background-color: white

    svg
        fill: $c-content-iron-80

.dropdown
    position: relative

    &Items
        box-sizing: border-box
        width: 100%
        max-width: 600px

        padding: 16px 16px
        margin: 0

        border: 1px solid $c-content-iron-80
        border-radius: 32px

        display: flex
        flex-direction: column

        background-color: white

        position: absolute
        top: 8px
