@import styles/constants.module

.button
  background: transparent

  display: flex
  justify-content: center
  align-items: center

  border: none
  padding: 0
  cursor: pointer

  &:disabled
    cursor: auto
    opacity: 0.32
  