@import 'styles/constants.module'
@import 'styles/mixins.module'

.prompt
    border: 1px solid black 
    border-radius: 1000px

.button
    @include f-control-button

    width: 100%
    padding: 12px 16px
    background: transparent

    border: none
    border-radius: 1000px

    color: $c-content-shadow

    display: flex
    align-items: center
    gap: 16px

    &:hover
        background: $c-content-iron-15

    svg        
        min-width: 16px
        min-height: 16px

        fill: $c-content-iron-80

    p
        text-align: left
