@import "styles/constants.module"

@mixin f-header-h1
    font-family: $font-family
    font-weight: 600
    font-size: 42px
    line-height: 50px

@mixin f-header-h2
    font-family: $font-family
    font-weight: 600
    font-size: 36px
    line-height: 42px

@mixin f-header-h3
    font-family: $font-family
    font-weight: 600
    font-size: 28px
    line-height: 36px

@mixin f-header-h4
    font-family: $font-family
    font-weight: 600
    font-size: 20px
    line-height: 30px

@mixin f-body-large
    font-family: $font-family
    font-weight: 400
    font-size: 16px
    line-height: 24px

@mixin f-body-medium
    font-family: $font-family
    font-weight: 400
    font-size: 20px
    line-height: 28px

@mixin f-body-small
    font-family: $font-family
    font-weight: 400
    font-size: 12px
    line-height: 16px

@mixin f-control-button
    font-family: $font-family
    font-weight: 400
    font-size: 16px
    line-height: 24px

@mixin f-control-input
    font-family: $font-family
    font-weight: 400
    font-size: 16px
    line-height: 22px

@mixin f-control-link
    font-family: $font-family
    font-weight: 500
    font-size: 14px
    line-height: 24px
