@import 'styles/constants.module'
@import 'styles/mixins.module'

.button
    @include f-control-button
    padding: 0
    background: transparent
    border: none
    cursor: pointer

    &:disabled
        cursor: auto
        opacity: 0.32
