@import 'styles/constants.module'
@import 'styles/mixins.module'

.input
    @include f-control-input

    display: block
    width: 100%

    box-sizing: border-box
    border: none

    color: $c-content-shadow
    padding: 18px

    &::placeholder
        color: $c-content-iron-80
    
    &:focus
        outline: none

    