@import 'styles/constants.module'
@import 'styles/mixins.module'

.answerContainer
    box-sizing: border-box
    width: fit-content
    max-width: 600px
    
    border: 1px solid $c-content-iron-80
    border-radius: 32px
    
    padding: 32px
    margin-top: 8px

    background-color: white
    
    em
        background-color: $c-accent

    ul
        padding: 0

    img
        max-width: 500px

    img + p
        margin-top: 16px

    p 
        text-align: left
