@import 'styles/mixins.module'
@import 'styles/constants.module'

body
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  @include f-body-medium
  color: $c-content-shadow

li
  list-style-type: none

h1, h2, h3, h4, h5, h6
  margin: 0

h1
  @include f-header-h1

h2
  @include f-header-h2

h3
  @include f-header-h3

h4
  @include f-header-h4

em
  font-style: normal

p
  margin: 0

a
  @include f-control-link
  text-decoration: none
  color: $c-content-shadow
